      /* Responsive For Mobile */

      @media screen and (max-width: 600px) {

     
          .items-container {
              display: none
          }

          .hamburger {
              display: block;
          }

          .hamburger div {
              height: 2px;
          }

          .nav-title-1 {
              font-size: 20px;
          }

          .title-container img {
              width: 28px;
              height: 33px;
          }

          #explore_travel_banner {
              width: 335px;
          }

          body{
            overflow-x: hidden;
        }


          .explore_title-1 {
              font-size: 22px;
              padding-top: 50px;
          }

          .explore_description {
              font-size: 14px;
              width: 282px;
          }


          .explore-container {
              display: flex;
              width: 287px;
              padding: 16px;
              align-items: center;
              flex-direction: column;
              gap: 16px;
              margin-top: 10px;
          }

          .explore-items {
              width: 255px;
          }

          .explore-items-search {
              width: 255px;
          }

          .column-two {
              grid-template-columns: 1fr;
              grid-gap: 30px;
          }

          .popular-description {
              width: 316px;
          }

          .popular-img img {
              width: 310px;
              height: 335px;

          }

          .popular_title-1 {
              font-size: 16px;
          }

          .destination {
              grid-template-columns: 1fr;
          }

          .destination-title {
              font-size: 20px;
          }

          .destination img {
              width: 330px;
              height: 176px;
          }

          .destination-description {
              width: 300px;
          }

          .centered-1 {
              top: 24%;
              left: 55%;
          }

          .centered-2 {
              top: 73%;
              left: 55%;
          }

          .centered-3 {
              top: 17%;
              left: 55%;
          }

          .centered-4 {
              top: 50%;
              left: 55%;
          }

          .centered-5 {
              top: 84%;
              left: 55%;
          }

          .centered-6 {
              top: 20%;
              left: 55%;
          }

          .centered-7 {
              top: 74%;
              left: 55%;
          }

          .choose_container {
              flex-direction: column;
          }

          .choose-title {
              color: #131318;
              text-align: center;
              font-size: 30px;
              font-style: normal;
              font-weight: 800;
              line-height: normal;
          }

          .choose_title-1 {
              font-size: 20px;
          }

          .choose-description {
              width: 100%;
          }

          .choose_bg-1 {
              width: 100%;
          }

          .choose_bg-2 {
              width: 100%;
          }

          .choose_bg-3 {
              width: 100%;
          }

          .card-container {
            grid-template-columns: 1fr;
          }


          #newsletter_section {
              flex-direction: column;
          }

          .input_section {
              width: 100%;
          }

          input {
            width: 100%;
          }

          input[type="submit"] {
            width: 100%;
          }

          .image_section-1 img{
            width: 100%;
          }

          .input_section p{
            width: 100%;
          }


          .image_section-1::before {
            background-image: url(../images/discount.png);
            position: absolute;
            content: '';
            right: -50px;
            top: 58px;
            height: 200px;
            width: 200px;
            background-repeat: no-repeat;
            background-size: 73% 62%;
          }
          
          footer {
              width: 100%;
              height: 100%;
          }

          .footer_description {
              width: 100%;
              margin: 24px auto;
          }

          .hr_line {
              width: 100%;
              margin: 50px auto;

          }

          footer .nav-title-1 {

              font-size: 19px;
          }
      }